name: Genra db sqlite3

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clona il repository
        uses: actions/checkout@v3

      - name: Installa Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'

      - name: Esegui il programma
        run: go run 2db/main.go

      - name: Salva file come artefatto
        uses: actions/upload-artifact@v3
        with:
          name: db-canzoniereonline
          path: 2db/songs.db